<?xml version="1.0" ?>
<model>
    <name>racecar-world</name>
    <version>1.0</version>
    <sdf version="1.6">racecar-world.world</sdf>
    <author>
        <name>Devansh Dhrafani</name>
        <email>f20171569@hyderabad.bits-pilani.ac.in</email>
    </author>
    <description></description>
</model>
